/*style sheet for interface*/
#container{
  width:100%;
  min-height:100%;
}

#panel{
  height:100%;
  width:50%;
  min-height:400px;
  background:darkgrey;
  opacity: 0.9;
  padding:2em;
}

.pad{
  margin:0.5em;
  width: 25%;
  height:25%;
  background-color: black;
  border: cadetblue 2px solid;
  display: flex;
  align-content: center;
  align-items: center;
}

.pad-button{
  text-align:center;
  font-size: 2em;
}